/* GT Walsheim Pro 

@font-face {
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: local('GTWalsheimPro-Medium'), url('../styles/font/GT-Walsheim-Pro-Medium.woff') format('woff');
}
*/

body {
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px !important;
    width: 480px !important;
    overflow-y: auto;
    position: fixed;
    top: 32px;
    bottom: 32px;
    left: calc(50% - 240px);
    background: #ffffff;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

h2 {
    text-transform: uppercase;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #059862;
    margin: 16px 0px;
}

label {
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

[type='radio']:not(:checked), [type='radio']:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

[type='radio']+label::before {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: 4px;
    border-radius: 24px;
    left: 6px;
    top: 6px;
}

[type='radio']+label {
    overflow: visible;
    border-radius: 24px;
    border: #3e5d64 thin solid;
    display: inline-block;
    max-width: 24px;
    width: 24px;
    height: 24px;
    position: relative;
    margin-inline-end: 10px;
}

[type='radio']:checked+label::before {
    background-color: #0e6476;
}

.radioItem {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radioItemDescription {
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #3e5d64;
    margin-top: 6px;
    margin-bottom: 18px;
    margin-left: 35px;
}

#full_version_info {
    display: none;
}

.version_info {
    color: grey;
    font-size: 13px;
}

.hidden {
    display: none;
}

form:not(:last-of-type) {
    border-bottom: 1px solid #ebe9e7;
}

.warning {
    background: #ffe5de;
    border-radius: 4px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #bf2600;
    padding: 12px;
    padding-left: 36px;
    margin-left: 32px;
    margin-bottom: 18px;
    position: relative;
}

#infoIcon {
    position: absolute;
    left: 8px;
}

h1 {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
}

#logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#short_version_info {
    cursor: pointer;
}

#short_version_info:hover {
    text-decoration: underline;
}